# Fabric Data Generation

generated/
src/main/generated/

src/main/resources/resourcepacks/alternate_wooden_mosaic_recipies/data
src/main/resources/resourcepacks/alternate_wooden_mosaic_recipies/data/*
src/main/resources/resourcepacks/alternate_wooden_mosaic_recipies/data/**
src/main/resources/resourcepacks/alternate_wooden_mosaic_recipies/data/humility-afm/recipes
src/main/resources/resourcepacks/alternate_wooden_mosaic_recipies/data/humility-afm/recipes/*
src/main/resources/resourcepacks/alternate_wooden_mosaic_recipies/data/humility-afm/recipes/**

advzip.exe
advzip.exe.lnk

server/
server/*
server/**
server/**/*


# Python

__pycache__/
src/main/java/io/github/mikip98/humilityafm/helpers/scripts/__pycache__/



# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr
